<%
=begin
  redmine_mit_auth: provides SSL/Touchstone authentication for redmine
  Copyright (C) 2012 Josh Bialkowski (jbialk@mit.edu)
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
=end
%>
<div id="login-form">
<% form_tag({:action=> "login"}) do %>
<%= back_url_hidden_field_tag %>
<table>
<tr>
  <td colspan="2" style="text-align: center; font-size: 1.1em">
    <%= link_to l(:shib_auth_shib_login), shib_login_path(:back_url => params[:back_url] || request.env['HTTP_REFERER']) %> <br/>
 	</td>
</tr>
<tr>
    <td align="right"><label for="username"><%=l(:field_login)%>:</label></td>
    <td align="left"><p><%= text_field_tag 'username', nil, :size => 40 %></p></td>
</tr>
<tr>
    <td align="right"><label for="password"><%=l(:field_password)%>:</label></td>
    <td align="left"><%= password_field_tag 'password', nil, :size => 40 %></td>
</tr>
<tr>
    <td></td>
    <td align="left">
        <% if Setting.autologin? %>
        <label for="autologin"><%= check_box_tag 'autologin' %> <%= l(:label_stay_logged_in) %></label>
        <% end %>
    </td>
</tr>
<tr>
    <td align="left">
        <% if Setting.lost_password? %>
            <%= link_to l(:label_password_lost), :controller => 'account', :action => 'lost_password' %>
        <% end %>
    </td>
    <td align="right">
        <input type="submit" name="login" value="<%=l(:button_login)%> &#187;" />
    </td>
</tr>
</table>
<% if params[:skip_shib] %>
<%= hidden_field_tag "skip_shib", "1" %>
<% end %>
<%= javascript_tag "Form.Element.focus('username');" %>
<% end %>
</div>
